nav ul a.nav-link {
    font-size: 0.9rem;
}
.form-control,
.custom-select,
.custom-control {
    font-size: 0.9rem;
}
.form-group input.invalid,
.form-group select.invalid {
    border-color: red;
}

.bg {
    /* The image used */
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}