<div class="text-center <%= pageTitle === 'Register' ? 'mt-4' : 'mt-5' %>">
    <p class="font-weight-bold mb-0" style="font-size: 14px;"><%= nbrUsers %> Utilisateurs @ courtier-dz</p>
    <p class="mb-0" style="font-size: 14px;">Tessalatechnology@gmail.com</p>
    <% if (!isAuthenticated) { %>
        <p class="mb-0" style="font-size: 14px;"><a href="/register">Inscrivez-vous Maintenent</a> @ COURTIER-DZ APP!</p>
    <% } %>
</div>
<hr
    class="mb-2 mt-1"
    style="
        width: 300px ;
        border-top: 3px solid rgba(0,0,0,0.1);
    "
>
<p class="text-center text-black-50 mb-0"><small>@. Copyright 2020 par courtier-dz app, tous droits réservés.</small></p>
<p class="text-center text-black-50 mb-0"><small>courtier-dz app Version 1.0.0</small></p>
<p class="text-center text-black-50"><small>Créer par GHEZAL Mohammed Amine</small></p>